@import "tailwindcss";

:root {
  --ui-primary: var(--color-violet-500);
  --ui-primary-bg: var(--color-violet-200);
  --ui-secondary: var(--color-teal-600);
  --ui-secondary-bg: var(--color-teal-200);
}

html {
  @apply bg-violet-200;
}
